.cosine-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  margin: 0px 40px;
}

form {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radios div {
  margin-top: 70px;
}
.form-btns {
  margin-top: 70px;
  margin-bottom: 20px;
}

.form-btn {
  padding: 12px 20px;
  border: 2px solid gray;
  background-color: white;
  border-radius: 10px;
}

input {
  margin-right: 50px;
}
