.form-elem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input {
  margin-left: 60px;
  min-width: 200px;
}

.form-foot {
  margin-top: 50px;
  margin-bottom: -60px;
}

.submit {
  padding: 2px 25px;
  border-radius: 25px;
  min-width: 50px;
  background-color: white;
}

a {
  text-decoration: none;
}
